<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home.html</title>
    <link rel="stylesheet" href="../../output.css">
</head>
<body class="flex">
    <!--navbar vertical-->
    <nav class="w-60 h-screen flex flex-col justify-between">
        <!--agendamento-->
        <div class="m-8">
            <ul class="space-y-3">
                <li class="card-small"><a href="../home/home.html" class="block w-full h-full" >Início</a></li>
                <li class="card-small">Novo Agendamento</li>
                <li class="card-small">Listar Agendamentos</li>
                <li class="card-small bg-gray-100"><a href="#" class="block w-full h-full" >Cadastrar Fornecedor</a></li>
                <li class="card-small">Listar Fornecedores</li>
            </ul>
        </div>
        <!--usuario/button-->
        <div class="flex m-8 gap-2">
            <div class="flex items-center card-small">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                </svg>
                <span>Usuário</span>
            </div>
            <div class="flex items-center">
                <button class="btn-secondary">Sair</button>
            </div>
        </div>
    </nav>

    <!--novo fornecedor-->
    <section>
        <div class="m-8">
            <div class="mb-4">
                <h1 class="text-4xl">Cadastro de Fornecedor</h1>
            </div>
            <div class="flex">
                <form class="space-x-3">
                    <input type="text" placeholder="Nome do fornecedor" class="input-text" id="nome-fornecedor">
                    <input type="text" placeholder="CNPJ do fornecedor" class="input-text" id="cnpj-fornecedor">
                </form>
                <div class="flex justify-between items-center ml-4 gap-2">
                    <button class="btn-primary" id="btn-cadastrar">Cadastrar</button>
                </div>
            </div>
        </div>
        <!--tabela de fornecedores-->
        <div class="m-8">
            <div>
                <button id="btn-anterior" class="btn-terciary disabled:opacity-50">Anterior</button>
                <span id="pagina-info"></span>
                <button id="btn-proximo" class="btn-terciary disabled:opacity-50">Próximo</button>
            </div>
            <table class="w-[100rem] mt-8">
                <thead>
                    <tr class="bg-gray-100">
                        <th class="px-2 py-2">ID</th>
                        <th class="px-2 py-2">Fornecedor</th>
                        <th class="px-2 py-2">CNPJ</th>
                        <th class="px-2 py-2">Ações</th>
                    </tr>
                </thead>
                <tbody id="tabela-fornecedores">

                </tbody>
            </table>
        </div>
    </section>

    


    <script type="module" src="cadastro.js"></script>
    <script type="module" src="tabela.js"></script>

</body>    